.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.content {
    flex: 1 1 auto;
    overflow: auto;
}

.footer {
    flex: 0 0 auto;
}