<div class="container">
  <h2 class="title">¡Participa en la Lotería de Objetos!</h2>

  <div class="cards-grid">
    @for (item of items; track $index) {
    <div class="card">
      <div class="card__image-wrapper">
        @if (!isLoaded(item.id)) {
        <p-skeleton width="100%" height="100%"></p-skeleton>
        }
        <img
          loading="lazy"
          [src]="'/assets/images/objects/' + item.object_number + '.jpeg'"
          [alt]="item.name"
          class="card__image"
          [class.loaded]="isLoaded(item.id)"
          (load)="onImgLoad(item.id)"
          (error)="onImgError(item.id, $event)"
        />
      </div>
      <div class="card__body">
        <span class="card__title">{{ item.name }}</span>
      </div>
    </div>
    }
  </div>
</div>
